openocd/
tools/
pico-examples/
pico-playground/
pico-extras/
picoprobe/
picotool/
src/build/
build/

nohup.out
.envrc
docs/research.md
schematic/usbcontroller-c64/usbcontroller-c64-backups
schematic/~*.lck

.vscode/
debug.sh